services:
  # WEB
  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    env_file:
      - .env
      - apps/web/.env
  # CALC SERVER
  calc:
    build:
      context: .
      dockerfile: apps/calc_server/Dockerfile
    environment:
      - NODE_ENV=production
      - PORT=8000
    ports:
      - "8000:8000"
    env_file:
      - .env
      - apps/calc_server/.env
  # MARKET SERVER
  market:
    build:
      context: .
      dockerfile: apps/market_server/Dockerfile
    environment:
      - NODE_ENV=production
      - PORT=5000
    ports:
      - "5000:5000"
    env_file:
      - .env
      - apps/market_server/.env

  # AUTH SERVER
  auth:
    build:
      context: .
      dockerfile: apps/auth_server/Dockerfile
    environment:
      - NODE_ENV=production
      - PORT=4000
    ports:
      - "4000:4000"
    env_file:
      - .env
      - apps/auth_server/.env

  # API SERVER
  api:
    build:
      context: .
      dockerfile: apps/api_server/Dockerfile
    environment:
      - NODE_ENV=production
      - PORT=3004
    ports:
      - "3004:3004"
    env_file:
      - .env
      - apps/api_server/.env
  # CODE SERVER
  code:
    build:
      context: .
      dockerfile: apps/code_server/Dockerfile
    environment:
      - NODE_ENV=production
      - PORT=2000
    ports:
      - "2000:2000"
    env_file:
      - .env
      - apps/code_server/.env
  # REDIS
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    volumes:
      - redis-data:/data

volumes:
  redis-data:
    driver: local
